.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #2b2e36;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.nav-link {
  color: #cac7fe;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #efeeff;
}
